<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">
    <a href="<%- common.protocol + common.domain %>/"><%- common.projectName %></a>
    © <%- new Date().getFullYear() %> Copyright |

    <a href="<%- common.protocol + common.domain %>/about"><%- __('views.components.footer.a_about') %></a> |
    <a href="<%- common.protocol + common.domain %>/contact"><%- __('views.components.footer.a_contact') %></a> |
    <a href="<%- common.protocol + common.domain %>/terms"><%- __('views.components.footer.a_terms') %></a>
  </div>
</footer>
