<!DOCTYPE html>
<html>
  <head>

    <%- include('components/head.ejs', { common, page }); %>
    
    <link rel="stylesheet" href="<%- common.protocol + common.domain %>/css/article.css">
  </head>
  <body>

    <%- include('components/navbar.ejs', { common, page }); %>

    <main class="page-articles">      
      <section class="container-fluid article-list">
        <%- include('components/article/article_list.ejs', { articles, common }); %>
        <%- include('components/article/pagination.ejs', { pagination, pageNumber, common, count, pagePath: '/articles' }); %>
      </section>
    </main>

    <%- include('components/footer.ejs', { common }); %>

    <%- include('components/scripts.ejs', { common }); %>
  </body>
</html>