<div class="row justify-content-center">
  <% articles.forEach(function (article, i) { %>
    <div class="col-12 col-lg-6 col-xl-4">
      <div>

        <div class="card p-0">
          <div class="card-img-top" style="background-image: url(<%- article.preview ? article.preview.image.file.url : '' %>);" onclick="location.href = '<%- common.protocol + common.domain + '/articles' + article.parent + '/' + article.name %>'">
          </div>

          <div class="card-body">
            <small class="text-muted d-block mt-2">
              <i class="far fa-clock"></i> <%- include('../locale_date.ejs', { date: article.metadata.created }); %>
              <i class="far fa-eye ml-2"></i> <%- article.statistics.impressions %>
            </small>
            <h4 class="card-title"><%- article.articleName %></h4>

            <p class="card-text">
              <%- article.description %>
            </p>

            <a href="<%- common.protocol + common.domain + '/articles' + article.parent + '/' + article.name %>" class="btn"><%- __('views.components.article.article_list.a_article') %></a>
          </div>
        </div>

      </div>
    </div>
  <% }); %>
</div>