<div class="w-100">
  <a href="<%- common.protocol + common.domain + '/' %>" title="<%- __('views.components.article.breadcrumbs.a_index_title') %>">
    <i class="fas fa-home"></i>
  </a>
  
  <% familyTree.slice(0, -1).forEach(function (siblings, i, arr) { %>
    <% var article = siblings.find(function (sibling) { return sibling.name === pathArray[i + 1]; }); %>
    
    <i class="fas fa-arrow-right ml-2 mr-2"></i>
    
    <% if (i == arr.length - 1) { %>
      <span>
        <%- article.articleName %>
      </span>
    <% } else { %>
      <a href="<%- common.protocol + common.domain + '/articles' + article.parent + '/' + article.name %>">
        <%- article.articleName %>
      </a>
    <% } %>
  <% }); %>
</div>